/*.imgSlider {
    background-image: url("../images/slider1.jpg");

}*/

.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover {
    background: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background: white;
    color: black;
}

.btn-primary {
    background: white;
    color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: white !important;
    color: black !important;
}

.btn-primary:active, .btn-primary.active {
    background: white;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid white;
    color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    border-color: white;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: black;
    box-shadow: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-nav > li > a {
    font-size: 15px;
}

.navbar-brand {
    font-size: 23px;
}

.contactButton {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
}


.imageHover:hover {
    z-index: -1;
}
